@font-face{
    font-family: "Benton Sans";
    src: url('BentonSans-Book.otf');
    font-weight: 400;
}

@font-face{
    font-family: "Benton Sans";
    src: url('BentonSans-Bold.otf');
    font-weight: 600;
}

@font-face{
    font-family: "Benton Sans";
    src: url('BentonSans-Light.otf');
    font-weight: 200;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Benton Sans', sans-serif;

}

img {
  max-width: 100%;
  max-height: 100%;
  width:auto;
  height:auto;
}

input, textarea {
  border: none;
  max-width: 100%;
  background: transparent;
  outline:none;
  resize: none;
  font-family: 'Benton-Sans', sans-serif !important
}

.container {
  position: relative;
  width:60vw;
  height:100vh;
  background-color:#fff;
  padding: 30px;
}

.collection {
  padding-bottom: 50px;
}

.edit {
  position: fixed;
  top:0;
  left: 70vw;
  width:30vw;
  height:100vh;
  background-color: #c3c6cf;
  transition: bottom 0.1s linear;
  padding: 20px;
}

.edit--hide {
  bottom: calc(-30vh + 40px);
}

.edit__logo {
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 80%;
}

.edit__logo__item {
  width: 43%;
  margin: 20px 0px 20px 0px;
  padding: 15px;
  border-radius: 10px;
  transition: 0.05s background-color linear;
}

.edit__logo__item:hover {
  cursor: pointer;
}

.edit__logo__item--active {
  background-color: #d2d6df;
}

.edit__item {
  padding: 10px 0px 10px 0px;
  color: #6d717a;
}

.edit__item__title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.6em;
}

.edit__color {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  background-color: #edeff5;
}

.edit__color__item {
  width: 40px;
  height: 30px;
  border-radius: 8px;
}

.edit__color__item:hover {
  cursor: pointer;
}

.color--light {
  background-color: #f8faff;
}

.color--dark {
  background-color: #282c35;
}

.color--blue {
  background-color: #00fff8;
}

.color--green {
  background-color: #6aedc7;
}

.color--pink {
  background-color: #ff1ab3;
}

.color--oj {
  background-color: #f6682f
}

.edit__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit__export {
  margin: 50px 0px 20px 0px;
  padding: 12px 10px 12px 1px;
  background-color: #007f8c;
  color: #fff;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.05em;
  transition: all 0.05s linear;
}

.edit__export:hover {
  cursor: pointer;
  background-color: #003c3f;
}

.edit__title {
  font-size: 0.8em;
  color: #45494e;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  padding: 10px 0px 20px 0px;
}

.edit__line {
  width: 100%;
  height: 1px;
  background-color: #363a43;
  margin: 10px 0px 20px 0px;
  opacity: 0.5;
}

.edit__area {
  width:100%;
  font-size: 1em;
  font-weight: 200;
  margin-top: 5px;
}

.edit__gradient {
  width:60%;
  display:flex;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
}

.edit__gradient__item {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  background-color: #edeff5;
}

.gradient__item {
  width: 40px;
  height: 30px;
  border-radius: 8px;
}

.edit__gradient__item--active {
  background-color: #6d717a;
}

.edit__gradient__item:hover {
  cursor: pointer;
}

.gradient--green {
  background: linear-gradient(to bottom right, #6aedc7, #39c2c9);
}

.gradient--blue {
  background: linear-gradient(to bottom right, #fca70a, #f66b2c);
  
}

.gradient--red {
  background: linear-gradient(to bottom right, #047888, #590547);
}

.dim {
  display: inline-block;
  padding: 8px 10px 8px 10px;
  font-size: 0.5em;
  border-radius: 20px;
  margin: 5px 10px 5px 0px;
}

.dim:hover {
  cursor: pointer;
}

.dim--active {
  background-color: #363a43;
  color: #fff;
}

.thumb {
  margin: 15px;
  position:relative;
  top:0;
  left:0;
  transition: box-shadow linear 0.1s;
  overflow: hidden;
}

.thumb > img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  max-width:none;
  max-height:none;
  width:auto;
  height:auto;
}

.thumb:hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px #000;
}

.thumb__divider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px 20px 0px;
}
 
.thumb__title {
  font-size: 1.5em;
  font-weight: 200;
  color: #c3c6cf;
  max-width: 50%;
}

.thumb__line {
  height: 1px;
  width: 100%;
  background-color: #c3c6cf;
  margin-left: 10px;
}

.thumb__content {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.thumb__text {
  position: absolute;
  width: auto;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 100%;
}

.thumb__text--title {
  display: block;
}

.thumb__text--body {
  -webkit-line-clamp: 1;
  line-height: 2;
  height: auto;
  text-align: center;
  background-color: #00adff;
  max-width: 30%;
  font-size: 30%;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  padding: 1% 2% 1% 2%;
}

.thumb__logo {
  position: absolute;
  width: 15%;
  top:0;
  left:0;
}

.thumb__logo > img {
  display: block;
}

.thumb__text:empty {
  padding: 0px;
}

.thumb__drag > img {
  display: block;
  min-height: 100%;
  min-width:100%;
  max-height: initial;
  max-width:initial ;
}

.thumb__drag {
  min-height: 100%;
  min-width:100%;
  height: auto;
  width:auto;
}

.adj {
  opacity: 0;
  transition: 0.05s linear opacity;
}

.thumb__content:hover .adj {
  opacity: 1;
}

.adj__item {
  border: 1px solid #d2d6df;
  border-radius:100%;
  text-align: center;
  margin: 5px 0px 5px 0px;
  width: 25px;
  height: 25px;
}

.adj__item {
  cursor: pointer;
}

.adj__item--rainbow {
  background-color:#d2d6df;
  border: #d2d6df;
  -webkit-filter: grayscale(100%);
}

/* ---------------- LIGHTBOX ----------------------- */

.lightbox {
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}

.lightbox__flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width:100vw;
  height:100vh;
}


.is-hidden {
  visibility: hidden;
}

.lightbox__arrow {
  padding: 50px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}

.lightbox__arrow:hover {
  opacity: 0.5;
  cursor: pointer;
}

.lightbox__arrow--prev {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.lightbox__image__title {
  padding: 10px;
  font-weight: 400;
}

.lightbox__image {
  max-width: 80vw;
  max-height: 90vh;
  text-align: center;
  position: relative;
  top:0;
  left:0;
  overflow: hidden;
}

.lightbox__image > img {
  max-width:100%;
  max-height:100%;
  box-shadow: 0px 0px 50px #000;
  display: block;
}

.lightbox__close {
  position: absolute;
  top:0;
  right:0;
  height: 35px;
  opacity: 0.5;
  color: #fff;
  margin: 50px;
  font-size: 3em;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
}

.lightbox__close > img {
  width:auto;
  height: 100%;
}

.lightbox__close:hover {
  opacity: 0.2;
  cursor: pointer;
}
